.navbar{
    margin: 12px 0;
    background-color: inherit;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: #cbe6ff;
}

.underline{
    margin: 0 auto;
    height: 2px;
    width: 10%;
    transition: 0.2s ease-out;
}

.nav-item:hover .underline{
    background-color: #8cb3d9;
    width:100%;
}