.row{
    padding: 60px 140px;
}

footer{
    background-color: rgb(28, 28, 37);
    color:white;
}

footer h3,h4,h5,h6{
    color: rgba(108,99,255,0.8);
}

.social-list p{
    font-size: 14x;
}

.row ul{
    padding-left: 0;
    list-style: none;
    list-style-type: none;
}
.row ul li{
    margin-top: 10px;
}

.row li a{
    color: lightgrey;
}

.start-btn{
    transition: 0.4s;
    color:white;
    font-size:18px;
    outline:none;
    border:none;
    background-color: #183046;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
}

.start-btn:hover{
    background-color: #21415f;
    box-shadow: 0 .4rem 1rem rgba(0,0,0,.2) !important;
}