.row{
    padding: 60px 100px;
}

footer{
    background-color: rgb(28, 28, 37);
    color:white;
}

footer h3,h4,h5,h6{
    color: rgb(108,99,255);
}

.social-list p{
    font-size: 14x;
}

.row li a{
    color: lightgrey;
}